// .header { background: $head-bg; }
.header { 
	background: #222 url(https://github.com/palmerye/pictureBed/raw/master/image/pcb-code2.png) center;
}

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
