// .header { background: $head-bg; }
.header { 
	background: #222 url(http://ohce3yxd6.bkt.clouddn.com/image/pcb-code2.png) center;
}

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
